.TopRight{
    text-align: right;
}

.image{
    text-align: center;
    height: 60px;
}
.imagediv{
    text-align: center;
    height: 60px;
    margin: 50px;
}

.Pics{
    text-align: center;
}